#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=chromium-browser
Name=Chromium
Exec=chromium-browser --password-store=gnome --incognito
