@charset "utf-8";

span.smallcaps {
	font-variant: small-caps;
}

em em {
	font-style: normal;
}

.title, .toc, .chapter {
	page-break-before: always;
}

.title, .author, .tagline, .toc, .chapter {
	text-align: center;
}

.title {
	margin-top: 1em;
}

.author {
	margin-top: 3em;
	margin-bottom: 5em;
}

.toc {
	margin-bottom: 2em;
}

.chapter {
	margin-bottom: 1em;
}
